*{
    padding: 0;margin: 0;
}

header{
    text-align: center;
    padding: 35px;
    color: white;
    background-image: url(istockphoto-1318101781-170667a.jpg);
    background-size: cover;
    overflow: hidden;
    font-size: 75px;
    font-weight: 700;
    text-shadow: 1.5px 1px burlywood;
    animation: mymove 5s infinite;
}

body{
    background-image: url(1390896.jpg);
    background-size: cover;
    
}
body pre{
    text-align: center;
    font-size: 25px;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 25px;
}
body h1{
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    color: antiquewhite;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 1px brown;
    font-size: 50px;
    letter-spacing: 3px;
}
body .camp1{
    width: 400px;
    /* padding: 50px; */
    box-shadow: 11px 10px brown;
    margin: 30px;
}
body .con1{
    position: relative;
    text-align: left;
}
body .camp2{
    width: 400px;
    /* padding: 50px; */
    box-shadow: 11px 10px brown;
    margin: 30px;
    position: relative;
    left: 1050px;
}
body .con2{
    position: relative;
    /* right: 200px; */
    text-align: right;
}